@media (max-width: 1750px) {

    .hero {

        margin-bottom: 5%;
    }
}

@media (max-width: 1700px) {

    body {

        background-image: url(../img/img2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: #750c18;
    }
}

@media (max-width: 1625px) {

    html {
        box-sizing: border-box;
        font-family: 'Jost';
        font-size: 2.3vh;
        line-height: 1em;
    }
}

@media (max-width: 1280px) {

    body {

        background-image: url(../img/img3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: #750c18;
    }
}

@media (max-width: 1225px) {

    html {
        box-sizing: border-box;
        font-family: 'Jost';
        font-size: 2.2vh;
        line-height: 1em;
    }
}

@media (max-width: 1120px) {

    body {

        background-image: url(../img/img4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: #750c18;
    }
}

@media (max-width: 1030px) {

    html {
        box-sizing: border-box;
        font-family: 'Jost';
        font-size: 2.1vh;
        line-height: 1em;
    }
}

@media (max-width: 920px) {

    body {

        background-image: url(../img/img5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: #750c18;
    }

    html {
        box-sizing: border-box;
        font-family: 'Jost';
        font-size: 2vh;
        line-height: 1em;
    }

}

@media (max-width: 800px) {

    body {

        background-image: url(../img/img7.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: #333;
    }

    html {
        box-sizing: border-box;
        font-family: 'Jost';
        font-size: 1.8vh;
        line-height: 1em;
    }

    h1, h2, h3 {

        text-align: left;
    }

    .list {

        max-width: 85%;
        margin-left: 10%;
    }

    .footer {

        padding: 0;
    }

    a {
        color: #3725f7;
    }

}

@media (max-width: 560px) {

    body {

        background-image: url(../img/img8.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: #333;
    }

    html {
        box-sizing: border-box;
        font-family: 'Jost';
        font-size: 1.7vh;
        line-height: 1em;
    }
}

@media (max-width: 500px) {

    body {

        background-image: url(../img/img9.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: #333;
    }

    html {
        box-sizing: border-box;
        font-family: 'Jost';
        font-size: 1.7vh;
        line-height: 1em;
    }
}

@media (max-width: 500px) {

    html {
        box-sizing: border-box;
        font-family: 'Jost';
        font-size: 1.6vh;
        line-height: 1em;
    }
}

@media (max-width: 440px) {

    a {
        color: #180250;
    }

    .footer__item-mail {
        
        color: #6d6ba9;

    }
}
